<div class="card mb-4">
  {{ with $.Get "header" }}
    <div class="card-header{{ with $.Get "header-color"}} -text-{{$.Get "header-color"}}{{end}}{{ with $.Get "header-bg"}} -bg-{{$.Get "header-bg"}}{{end}}">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "header" | markdownify }}
      {{ else }}
        {{ $.Get "header" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
  {{ if .Inner }}
  <div class="card-body{{ with $.Get "text-color"}} -text-{{$.Get "text-color"}}{{end}}{{ with $.Get "bg-color"}} -bg-{{$.Get "bg-color"}}{{end}}">
    {{ with $.Get "title" }}
      <h5 class="card-title">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "title" | markdownify }}
        {{ else }}
          {{ $.Get "title" | htmlUnescape | safeHTML }}
        {{ end }}
      </h5>
    {{ end }}
    {{ with $.Get "subtitle" }}
      <h6 class="card-title mb-2 text-muted">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Get "subtitle" | markdownify }}
        {{ else }}
          {{ $.Get "subtitle" | htmlUnescape | safeHTML }}
        {{ end }}
      </h6>
    {{ end }}
    {{ with $.Inner }}
      <p class="card-text">
        {{ if eq $.Page.File.Ext "md" }}
          {{ $.Inner | markdownify }}
        {{ else }}
          {{ $.Inner | htmlUnescape | safeHTML }}
        {{ end }}
      </p>
    {{ end }}
  </div>
  {{ end }}
  {{ with $.Get "footer" }}
    <div class="card-footer{{ with $.Get "footer-color"}} -text-{{$.Get "footer-color"}}{{end}}{{ with $.Get "footer-bg"}} -bg-{{$.Get "footer-bg"}}{{end}}">
      {{ if eq $.Page.File.Ext "md" }}
        {{ $.Get "footer" | markdownify }}
      {{ else }}
        {{ $.Get "footer" | htmlUnescape | safeHTML }}
      {{ end }}
    </div>
  {{ end }}
</div>
