<script src="//cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js" defer></script>

{{ $customJS := resources.Get "js/custom.js" | js.Build }}
{{ if not hugo.IsProduction }}
<script src="{{ $customJS.RelPermalink }}" defer></script>
{{ else }}
{{ $customJS := $customJS | minify | fingerprint }}
<script src="{{ $customJS.RelPermalink }}" integrity="{{ $customJS.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{ end }}
