{{- $app_key := getenv "PRODUCT_ANALYTICS_APP_KEY" }}
{{- $host := getenv "PRODUCT_ANALYTICS_HOST" }}

{{ if and ($app_key) ($host) }}
    <script src="https://cdn.jsdelivr.net/npm/@gitlab/application-sdk-js@0.0.5/dist/gl-sdk.min.js"></script>
    <script>
        window.glClient = window.glSDK.glClientSDK({
            applicationId: '{{ $app_key }}',
            host: '{{ $host }}'
        });

        window.glClient.page();
    </script>
{{ end }}
